html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
}
#navButtons{
  margin-left: 5px;
  padding-right: 85px;
  width: 500px;
  height: 50px;
  border-left: 1px solid #3b3b3b;
  border-right: 1px solid #3b3b3b;
  float: left;
}

#customer, #warehouse, #admin {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
}

#newBTN{
  float: left;
  width: 420px;
  border-right: 1px solid #3b3b3b;
}

#sidebar {
  background-color: #ddd;
  height: 100%;
  padding: .5em;
  position: fixed;
  right: 0;
}

.glyphicon-remove {
  position: relative;
  top: .2em;
}

#address {
  margin-bottom: 9em;
}

#add {
  float: right;
}

#owner {
  background-color: white;
  border: none;
  box-shadow: none;
}

/*.col-sm-9 {
  width: 100%;
}*/

.col-sm-9, .col-sm-3, .col-sm-12 {
  padding: 0;
}

.row {
  margin: 0;
}

.view {
  float: left;
}

.view .glyphicon {
  font-size: 22px;
  padding: 5px;
}

.view .glyphicon:hover {
  cursor: pointer;
  background-color: #1a314f;
  border-radius: 5px;
}
#red:hover{
  color: #d52623;
}

/*--------------- Logo -----------------*/
[logo] {
  float: left;
  background-color: #EFEDF2; /* grey*/
  margin: 0px;
  width: 240px;
  height: 45px;

  .logo {
    font-size: 32px;
    background-color: #d52623;
    color: #fff;

    padding-top: 4px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 4px 14px 4px 14px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    border: none;
    -webkit-transform: skewX(-32deg);
    transform: skewX(-32deg);
    -webkit-transform-origin: 0 100% 0deg;
    transform-origin: 0 100% 0deg;
  }
  .logo-text {
    font-family: sans-serif;
    font-size: 32px;
    color: #d52623;
    display: inline;
    position: relative;
    bottom: 5px;
  }
}

#logoutButton {
  position: relative;
  right: 5px;
  top: 5px;
}

/*--------------- Logo End -----------------*/
/*--------------- Login part-----------------*/

#login {
  font-size: 16px;
  margin: 5px auto 0;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  width: 300px;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
  label {
    margin: 5px;
  }
  input {
    align-content: center;
    display: block;
    width: 270px;
    border-radius: 5px;
    border: inherit;
    padding: 5px;
    margin: 5px;
    background-color: #faffbd;
  }
  #loginSendButton {
    display: block;
    margin: 10px;
    text-align: center;
    position: relative;
    left: 80px;
  }
  a {
    position: relative;
    left: 90px;
  }
}

.alert {
  margin: 1em .25em;
  padding: .4em;
  text-align: center;
}

#registration {
  font-size: 16px;
  margin: 5px auto 0;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  width: 300px;
  min-height: 350px;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888;
  label {
    margin: 5px;
  }
  input {
    align-content: center;
    display: block;
    width: 270px;
    border-radius: 5px;
    border: inherit;
    padding: 5px;
    margin: 5px;
  }
  .glyphicon-info-sign {
    color: #337ab7;
    margin: .5em .25em;
  }
  p {
    color: red;
    font-size: .85em;
    margin: .5em;
  }
  #registrationButton {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

/*--------------- Login part end-----------------*/

/*---404 Page CSS---*/
.header-404 {
  background-color: #d9edf6;
  color: #2f6f95;
  font-size: 2em;
  padding: .7em;
  text-align: center;
}

.sad-face {
  font-size: 2.5em;
  text-align: center;
}

.glyphicon-eye-open {
  padding: 0 .5em;
}

.glyphicon-tint {
  display: block;
  margin: .25em;
  padding-left: 3.5em;
}

.first-tear {
  margin-top: -.35em;
}

/*---  End of 404 Page CSS ---*/
/*---  Warehouses ---*/
.warehouses {
  //margin: 1em 0;
  padding: .25em 1.5em;
  &:first-child {
    margin: 0 0 0 1em;
  }
}

.warehouse {
  margin: 1em 0;
}

.table {
  margin: 0;
  .glyphicon {
    color: #d52623;
  }
  th {
    cursor: pointer;
  }
  input {
    width: 100%;
  }
}

.price {
  span::after {
    content: " $";
  }
}

.glyphicon-pencil, .glyphicon-trash {
  cursor: pointer;
  padding: 0 .15em;
}

.glyphicon-trash:hover {
  color: #d52623;
}

.glyphicon-pencil:hover {
  color: #377ab7;
}

/*---  End of Warehouses ---*/
/*---  List Header  ---*/
.list-header {
  margin-top: .75em;
  padding: 0 .75em;
}

.list-header-content {
  background-color: #337ab7;
  color: white;
  margin-bottom: 0;
  padding: .25em 0;
  label {
    margin: .5em 0 .5em .5em;
  }
  input {
    color: #565656;
  }
  #reverse {
    margin-top: .8225em;
  }
  .panel-body {
    padding: 0 .5em;
    select {
      display: inline-block;
      font-weight: bold;
      width: 150px;
    }
    #search-bar {
      display: inline-block;
      position: relative;
      max-width: 300px;
      #search {
        padding: .5em 30px .5em .5em;
      }
      .glyphicon-search {
        color: #565656;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
}

.new-warehouse {
  font-weight: bold;
  margin: 5px;
  width: 200px;

}
/*---  End of List Header  ---*/