<div class="col-sm-9">
    <header>
        <nav>
            <a id="customer" type="button" class="btn btn-default">Customer</a>
            <a id="warehouse" type="button" class="btn btn-default">Warehouse</a>
            <a id="admin" type="button" class="btn btn-default">Admin</a>
            <button id="logoutButton" type="button" class="pull-right btn btn-primary">Log out <span class="glyphicon glyphicon-log-out"></span></button>

        </nav>
    </header>

    <!-- Modal -->
    <div id="warehouse-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="pull-left">New warehouse</h3>
                    <button type="button" class="pull-right btn btn-danger btn-xs" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="owner">Owner:</label>
                            <input id="owner" class="form-control" name="owner" type="text" readonly value="Me">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" ng-model="main.name" class="form-control" name="name" type="text" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input id="address" ng-model="main.address" class="form-control" name="address" type="text" autocomplete="off">
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <button ng-click="main.createWarehouse()" id="add" class="btn btn-primary" data-dismiss="modal">
                                <b>Add</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div logo></div>
        <!-- List Header -->
        <div class="list-header col-sm-12">
            <div class="list-header-content panel panel-primary">
                <div class="panel-body">
                    <input ng-model="reverse" class="pull-right" id="reverse" type="checkbox" name="reverse">
                    <label class="pull-right" for="reverse">Reverse</label>
                    <select ng-model="sortBy" class="form-control pull-right" id="sort-by">
                        <option ng-repeat="x in main.sortBy" value="{{x.value}}">{{x.name}}</option>
                    </select>
                    <label class="pull-right" for="sort-by">Sort by: </label>
                </div>
            </div>
        </div>
        <div class="warehouses col-sm-12">
            <div ng-repeat="warehouse in main.warehouses | orderBy: sortBy : reverse">
                <div warehouse="warehouse" class="warehouse panel panel-info">
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>
</div>
<div id="sidebar" class="col-sm-3">
    <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#warehouse-modal">New warehouse</button>
</div>