<header>
    <nav>
        <div logo></div>
        <div id="navButtons">
            <a id="customer" type="button" class="btn btn-primary">Customer</a>
            <a id="warehouse" type="button" class="btn btn-primary">Warehouse</a>
            <a id="admin" type="button" class="btn btn-primary">Admin</a>
        </div>
        <div id="newBTN">
            <button class="btn btn-primary new-warehouse" data-toggle="modal" data-target="#warehouse-modal">
                New warehouse
            </button>
        </div>
        <button ng-click="main.logout()" id="logoutButton" type="button" class="pull-right btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span>
            <span>Logout</span>
        </button>

    </nav>
</header>

<!-- Modal New -->
<div id="warehouse-modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="pull-left"><span ng-show="$root.method == 'POST'">New</span>
                    <span ng-show="$root.method == 'PUT'">Edit</span> warehouse</h3>
                <button type="button" class="pull-right btn btn-danger btn-xs" data-dismiss="modal"
                        ng-click="main.clearModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="owner">Owner:</label>
                        <input id="owner" ng-model="main.owner.name" class="form-control" name="owner" type="text"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" ng-model="$root.name" class="form-control" name="name" type="text"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input id="address" ng-model="$root.address" class="form-control" name="address" type="text"
                               autocomplete="off">
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <button ng-click="main.createWarehouse()" id="add" class="btn btn-primary" data-dismiss="modal">
                            <span ng-show="$root.method == 'POST'"><b>Add</b></span>
                            <span ng-show="$root.method == 'PUT'"><b>Edit</b></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Products -->
<div id="product-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="pull-right btn btn-danger btn-xs" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <h3>Add product</h3>
            </div>
            <div class="modal-body">
                <span ng-click="main.tableView = true; main.treeView = false"
                      class="modal-icon glyphicon glyphicon-align-justify"></span>
                <span ng-click="main.treeView = true; main.tableView = false"
                      class="modal-icon glyphicon glyphicon-folder-open"></span>
                <div ng-if="main.tableView">
                    Table
                </div>
                <div ng-if="main.treeView">
                    <div ng-repeat="category in main.treeObject">
                        <div category="category"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <!-- List Header -->
    <div class="list-header col-sm-12">
        <div class="list-header-content panel panel-primary text-right">
            <div class="panel-body">
                <div class="view">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="glyphicon glyphicon-th"></span>
                </div>
                <div id="search-bar">
                    <i class="glyphicon glyphicon-search"></i>
                    <input id="search"
                           class="form-control"
                           ng-model="main.search"
                           placeholder="Search...">
                </div>
                <label for="sort-by">Sort by: </label>
                <select ng-model="main.selectedOption"
                        ng-options="option.name for option in main.sortByOptions track by option.value"
                        class="form-control"
                        id="sort-by">
                </select>
                <label for="reverse">Reverse</label>
                <input ng-model="reverse"
                       id="reverse"
                       type="checkbox"
                       name="reverse">
            </div>
        </div>
    </div>
    <div class="warehouses col-sm-12">
        <div ng-repeat="warehouse in main.warehouses | filter: {name : main.search} | orderBy: main.selectedOption.value : reverse">
            <div on-fill-product-modal="main.fillProductModal"
                 warehouse="warehouse"
                 class="warehouse panel panel-info">
            </div>
        </div>
    </div>
</main>

<footer>
</footer>