<link rel="stylesheet" type="text/css" href="../style/index.css"/>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>

<div id="login">
    <div class="logo_area"><span class="logo glyphicon glyphicon-transfer"></span>
        <div id="logo_text">Warehouse</div>
    </div>

    <label>E-mail</label>
    <input type="email" id="email" placeholder="example@example.com">
    <label>Password</label>
    <input type="password" id="pass" placeholder="password">
    <button id="loginButton" type="button" class="btn btn-primary">Log in <span class="glyphicon glyphicon-log-in"></span></button>
    <a href="registration.html">Registration</a>
</div>